# Homework 1

* Download GCB2022v27_MtCO2_flat.csv file from [kaggle](https://www.kaggle.com/datasets/thedevastator/global-fossil-co2-emissions-by-country-2002-2022)

* Explorar el dataset 
    * desplegar nombres de columnas
    * tipo de datos 
    * distribucion de NaNs

In [13]:
import pandas as pd
import numpy as np

In [4]:
dataCO2 = pd.read_csv('GCB2022v27_MtCO2_flat.csv')

In [5]:
dataCO2

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

In [8]:
#Columns
dataCO2.columns

Index(['Country', 'ISO 3166-1 alpha-3', 'Year', 'Total', 'Coal', 'Oil', 'Gas',
       'Cement', 'Flaring', 'Other', 'Per Capita'],
      dtype='object')

In [9]:
dataCO2 ==

<bound method DataFrame.info of            Country ISO 3166-1 alpha-3  Year         Total          Coal  \
0      Afghanistan                AFG  1750      0.000000           NaN
1      Afghanistan                AFG  1751      0.000000           NaN
2      Afghanistan                AFG  1752      0.000000           NaN
3      Afghanistan                AFG  1753      0.000000           NaN
4      Afghanistan                AFG  1754      0.000000           NaN
...            ...                ...   ...           ...           ...
63099       Global                WLD  2017  36096.739276  14506.973805
63100       Global                WLD  2018  36826.506600  14746.830688
63101       Global                WLD  2019  37082.558969  14725.978025
63102       Global                WLD  2020  35264.085734  14174.564010
63103       Global                WLD  2021  37123.850352  14979.598083

                Oil          Gas       Cement     Flaring       Other  \
0               NaN          NaN          NaN         NaN         NaN
1               NaN          NaN          NaN         NaN         NaN
2               NaN          NaN          NaN         NaN         NaN
3               NaN          NaN          NaN         NaN         NaN
4               NaN          NaN          NaN         NaN         NaN
...             ...          ...          ...         ...         ...
63099  12242.627935  7144.928128  1507.923185  391.992176  302.294047
63100  12266.016285  7529.846784  1569.218392  412.115746  302.478706
63101  12345.653374  7647.528220  1617.506786  439.253991  306.638573
63102  11191.808551  7556.290283  1637.537532  407.583673  296.301685
63103  11837.159116  7921.829472  1672.592372  416.525563  296.145746

       Per Capita
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
63099    4.749682
63100    4.792753
63101    4.775633
63102    4.497423
63103    4.693699

[63104 rows x 11 columns]>

In [19]:
dataCO2 == np.nan

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
63099,False,False,False,False,False,False,False,False,False,False,False
63100,False,False,False,False,False,False,False,False,False,False,False
63101,False,False,False,False,False,False,False,False,False,False,False
63102,False,False,False,False,False,False,False,False,False,False,False
63103,False,False,False,False,False,False,False,False,False,False,False

* Â¿De cuÃ¡ntos paÃ­ses diferentes hay datos?

In [37]:
countriesGlobal = dataCO2["Country"].unique()
countries = np.delete(countriesGlobal, np.where(countriesGlobal == "Global"))
len(countries)

231

* Graficar los valores globales y los de Mexico para: 'Total', 'Coal', 'Oil', 'Gas', 'Cement', 'Flaring', 'Per Capita'.

* Extraer datos de los paÃ­ses pertenecientes al G20 y graficar las columnas del punto anterior.
    * Cuales son los 3 paÃ­ses que mÃ¡s contaminan en cada uno de los casos?
    * Considerando solo la emisiÃ³n de los paises del G20, con que porcentaje contribuye MÃ©xico al Total y Per Capita?
    
* Eliminar NaNs.

* Aplicar merge, groupby.